
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Montserrat';
}

.header {
    background-color: #F4C2C2;
    color: white;
    height: 180px;
    border-bottom: 6px solid #fcdede;
}

.name {
    padding-top: 10px;
    font-size: 6rem;
    text-align: center;
    font-family: 'Alex Brush';
}

#links {
    font-size: 1rem;
    color: #fcdede;
    text-align: center;
}

#links a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.home{
    color: orangered;
    background-color: yellow;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    
}


.about{
    color: blue;
    background-color: #fff2f2;
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-top: auto;

}

#abo {
    font-family: 'Alex Brush'
}

#abo p{
    padding-left: 40px;
}

.work{
    background-color: pink;
    text-align: center;
    padding-bottom: 20px;
}

#wor{
    font-family: 'Alex Brush'; 
    margin-top: auto;
}

.gallery a {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left:20px;
    padding-right: 20px;
}







